*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 3vmin;
}
.postjobstatus{
    width: 90%;
    height: 30em;
    background-color: grey;
    border-radius: 30px;
    overflow: auto;
}
.postjobstatus section, .postjobstatus div{
   margin-top: 2vmax;
}

#dynamicsalary{
height: auto;
width: auto;

display: none;
text-align: center;
}
#fixedsalary{
display: none;

}
textarea{
background-color: rgb(255, 255, 255);
color:rgb(0, 0, 0);
outline: none;
width: 70%;
margin-top: 2em;
border-radius: 5px;  
font-family:'Times New Roman', Times, serif;
box-shadow: 3px 4px 2px 3px rgba(34, 34, 34, 0.911), 4px 4px 3px 3px rgba(34, 34, 34, 0.911);
}
textarea::placeholder{
color:rgba(0, 0, 0, 0.5);
text-align: center;

}
button{
background-color: rgba(9, 9, 214, 0.9);
color: rgba(255, 255, 255, 0.911);
margin: 3vmax 0;
width: 14%;
border-radius: 10px;
outline: none;
border: none;
box-shadow: 3px 4px 2px 3px rgba(34, 34, 34, 0.911), 4px 4px 3px 3px rgba(34, 34, 34, 0.911);

}
.goback{
color:rgba(255, 255, 255, 0.911);
background-color: rgba(9, 9, 214, 0.9) ;
width: 10%;
border-radius: 20px;
margin-right: auto;
box-shadow: 2px 2px 2px 2px rgba(34, 34, 34, 0.911), 3px 3px 3px 2px rgba(34, 34, 34, 0.911);
}
input{
border-radius: 10px;

}
#dynamicsalary input, #fixedsalary input{
width: 30%;
}